<br/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top food-image"
          [src]="selectedFoodData.image"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ selectedFoodData.title }}</h5>
           <p class="card-text">{{ selectedFoodData.description }}</p>
           <p class="card-text">{{ selectedFoodData.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>




