<ul class="nav nav-tabs">
   
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/menu" routerLinkActive="active">Food Menu</a>
    </li>
 
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rxjsrecipes" routerLinkActive="active">Recipes using Rxjs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signalexample" routerLinkActive="active">Cart Using Signal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/promobanner" routerLinkActive="active">Prmo Banner - using life cycle methods</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orderhistory" routerLinkActive="active">Order History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reorderfromhistory" routerLinkActive="active">Re order from history</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ordermodule/reorderhistory" routerLinkActive="active">Lazy loading - module level</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ordermodule/orderlazyloading" routerLinkActive="active">Order History using lazyload comp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/banner" routerLinkActive="active">Promotion banner</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>

</ul>
