<p>fooodcategorylist works!</p>
<table>
  <tbody>
    <tr *ngFor="let foodCategory of categories" appHighlight>
      <td>{{ foodCategory.name }}</td>
      <td>
        <div *ngIf="foodCategory.showItems; else hideItem">
          <ul>
            <li *ngFor="let item of foodCategory.varities">
              <p>{{item}}</p>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #hideItem><p>There no varieties present on this food category</p></ng-template>