<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of recipeData?.recipes">
      <div routerLink="/recipedetails/{{item.id}}" class="card h-100 d-flex flex-column">
        <img
          class="card-img-top food-image"
          [src]="item.image"
          alt="Card image cap"
          routerLink="/recipedetails/{{item.id}}"
        />


        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
